<div class="container user-select-none">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="d-grid gap-2 d-md-block mt-4">
        <a role="button" class="btn btn-outline-primary col-md-2 mb-3" routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
      </div>
      <div class="center text-md-start">
        <h1 class="fw-bold text-primary">Requisições para Meu Departamento</h1>
      </div>

      <div class="mt-5">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Data Abertura</th>
              <th>Ultima Atualização</th>
              <th>Descrição</th>
              <th>Departamento</th>
              <th>Status</th>
              <th>Movimentações</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let requisicaoDepartamento of (requisicoesDepartamento$ | async)">
              <td>{{requisicaoDepartamento.dataAbertura | date: 'dd/MM/yyyy'}}</td>
              <td>{{requisicaoDepartamento.dataUltimaAtualizacao | date: 'dd/MM/yyyy'}}</td>
              <td>{{requisicaoDepartamento.descricao}}</td>
              <td>{{requisicaoDepartamento.departamento?.nome}}</td>
              <td>{{requisicaoDepartamento.status}}</td>
              <td>{{requisicaoDepartamento.movimentacoes}</td>
              <td class="d-grid d-md-block">
                  <button (click)="gravar()" type="button" class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                    <i class="pi pi-user-edit"></i>
                  </button>
                  <button (click)="excluir()" type="button" class="btn btn-outline-danger">
                    <i class="pi pi-trash"></i>
                  </button>
              </td>
            </tr>
          </tbody>
       </table>
     </div>

   </div>
  </div>
</div>
