<div class="container user-select-none">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="d-grid gap-2 d-md-block mt-4">
        <a role="button" class="btn btn-outline-primary col-md-2 mb-3" routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
      </div>
      <div class="center text-md-start">
        <h1 class="fw-bold text-primary">Requisições para Meu Departamento</h1>
      </div>

      <div class="mt-5">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Data Abertura</th>
              <th>Departamento</th>
              <th>Descrição</th>
              <th>Equipamento</th>
              <th>Status</th>
              <th>Ultima Atualização</th>
              <!--<th>Movimentações</th>-->
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let requisicao of (requisicoes$ | async)">
              <td>{{requisicao.dataAbertura | date: 'dd/MM/yyyy'}}</td>
              <td>{{requisicao.departamento?.nome}}</td>
              <td>{{requisicao.descricao}}</td>
              <td>{{requisicao.equipamento?.nome}}</td>
              <td>{{requisicao.status}}</td>
              <td *ngIf="requisicao.ultimaAtualizacao">{{ requisicao.ultimaAtualizacao.toDate() | date: 'dd/MM/yyyy' }}</td>
              <!--<td>{{requisicao.movimentacoes}}</td>-->
              <td class="d-grid d-md-block">
                  <button
                    (click)="gravar(modal, requisicao)"
                    type="button"
                    class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto" >
                      <i class="pi pi-check-square"></i>
                   </button>
                  <button
                      [routerLink]="['/requisicoes', requisicao.id]"
                      type="button"
                      class="btn btn-outline-primary">
                    <i class="pi pi-tags"></i>
                  </button>
              </td>
            </tr>
          </tbody>
       </table>
     </div>

   </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title user-select-none">Movimentação de Requisição</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('enviar')">

    <div class="modal-body">

      <div formGroupName="requisicao">

          <div class="form-group mb-3 position-relative">
            <label for="funcionario" class="form-label mt-3">Funcionário Solicitante</label>
            <p class="text-primary fw-semibold">{{funcionarioLogado.nome}}</p>
          </div>

          <div class="form-group mb-3 position-relative">
              <label for="equipamentoId" class="form-label mt-3">Equipamento</label>
              <p class="fw-semibold">{{requisicaoSelecionada.equipamento ? requisicaoSelecionada.equipamento.nome : "Não Informado"}}</p>
          </div>

          <div class="form-group mb-3 position-relative">
            <label for="nome" class="form-label mt-3">Descrição da Solicitação</label>
            <p class="fw-semibold">{{requisicaoSelecionada.descricao}}</p>
          </div>

          <div class="form-group mb-3 position-relative">
            <label for="nome" class="form-label mt-3">Status</label>
            <ng-select
              placeholder="status da requisicao"
              [searchable]="false"
              [clearable]="false"
              class="w-50"
              formControlName="status"
              [items]="listaStatus"
              >
            </ng-select>
          </div>

          <div class="form-group mb-3 position-relative">
            <label for="nome" class="form-label mt-3">Descrição da Movimentação</label>
            <div>
              <textarea
                formControlName="descricao"
                type="text"
                placeholder="digite a descrição da atulização"
                cols="30"
                rows="4"
                >
              </textarea>
            </div>
          </div>

      </div> <!---formGroupName-->

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary col-md-3" (click)="modal.dismiss('fechar')" [disabled]="this.form.invalid">Cancelar</button>
        <button type="submit" class="btn btn-primary col-md-3">Gravar</button>
      </div>
    </div> <!--modal-body-->>
  </form>
</ng-template>




