  <mat-accordion *ngIf="messageService.getMessages().length" class="user-select-none">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>Mensagens</mat-panel-title>

        <mat-panel-description>
          {{messageService.getMessages().length}} nota(s)
        </mat-panel-description>

      </mat-expansion-panel-header>

      <button mat mat-raised-button (click)="messageService.clear()">Limpar</button>
      <div *ngFor="let message of messageService.getMessages()" class="mt-4">
        {{message}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>

