/* You can add global styles to this file, and also import other style files */
.bg-color {

  background-color: rgb(210, 210, 210) !important;
}

.bg-light {
  background-color: white !important;
}

.links {
  font-size: 17px;
}

.nav-link:hover {
  color: rgb(8, 8, 135)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

